*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
}
html{
    scroll-behavior: smooth;
}
#main{
  width: 100%;
  height: 100vh;
}
#header{
    height: 46px;
    background-color: black;
    width: 1517px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.h_left{
    display: inline-block;
}
#nav{
    display: inline-block ;
}
#nav , .subnav{
    list-style-type: none;
}
#nav>li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav li a {
    color: white;
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
    line-height: 46px;
}
#nav>li:hover>a{
    color: black;
    background-color: #ccc;
}
#nav .subnav{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.5);
    display: none;
    min-width: 160px;
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav .nav-arrow-down{
    font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.png') top center/cover no-repeat ;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: white;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

#slider .text-heading{
    font-size: 24px;
    padding-bottom: 23px;
}

#slider .text-description{
    font-size: 15px;
    font-weight: 700;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    text-align: center;
    margin-bottom: 20px;
}
.content-section p{
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.4;
}
#content .section-sub-heading{
    font-size: 15px;
    opacity: 0.6;
    text-align: center;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
#content .member-list{
    margin-top: 48px;
    overflow: hidden;
}
#content .member-item{
    float: left;
    width: 33.3333333%;
}
#content .member-name{
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
#content .content-tourdate{
    background-color: black;

}
#content .date-ticket{
   
    margin-top: 45px;
    width: 768px;
    
}
#content .date{
    background-color: white;
    border: 1px solid #ccc;
    width: 800px;
}
#content .date li {
    font-size: 15px;
    font-family: ' sans-serif';
    color: #757575;
    list-style-type: none;
    text-align: left;
    padding: 11px 16px;
    border-bottom: 1px solid  #ccc;
}
#content .sold-out{
    background-color: #f44336;
    font-family: 'sans-serif';
    margin: 0 0 0 16px;
    color: #fff;
    padding: 0 8px;
}
#content .quantity{
    color: white;
    font-size: 15px;
    background-color: black;
    border-radius: 50%;
    margin-right: 16px;
    padding: 0 8px;
    float: right;
}
#content .place-list{
    margin-top: 32px;
    overflow: hidden;
    margin-right: -8px;
    margin-left: -8px;
    padding-bottom: 48px;
}
#content .place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
   
}
#content .place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
#content .place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
    overflow: hidden;
}
.place-heading{
    text-align: left;
}

.place-time{
    opacity: 0.5;
    text-align: left;
}
.place-desc{
    line-height: 1.5;
}
.place-buy-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 10px;
    float: left;
}
.place-buy-btn:hover{
    background-color: #757575;
}
#content .infor{
    width: 800px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ban-infor p{
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
    width: 400px;
}
.your-infor{
    float: right;
    width: 50%;
}
.heading-infor{
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-size: 15PX;
}
.left-heading{
    width: 50%;
    text-align: left;
}
.bottom-infor{
    width: 400px;
    text-align: left;
    display: block;
    font-size: 15px;
}
.form-control{
    padding: 10PX;
    border: 1px solid #ccc;
    width: 100%;
}
.send{
    float: right;
    color: white;
    background-color: black;
    margin: 16px 0;
    font-size: 15px;
    padding: 8px 16px;
    display: block;
    cursor: pointer;
}
#content .send:hover{
    background: #ccc;
    color: white;
}
#content .end-content{
    padding-top: 60px;
}
#content .end-content img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
    width: 100%;
}
.social-list{
   font-size: 30px;
  
}
#footer  .social-list a{
    color: rgba(0, 0,0, 0.7);
    text-decoration: none;
}
.social-list a:hover{
    opacity: 0.4;
}
.coyright{
    font-size: 15px;
    margin: 20px 0;
}
#footer .coyright a{
    color: black;
}













